<div class="row">
  <div class="col-md-5">
    <app-recipie-list></app-recipie-list>
    <!-- <app-recipie-list
      (recipieWasSelected)="selectedRecipie($event)"
    ></app-recipie-list> -->
  </div>
  <div class="col-md-7">
    <!-- <app-recipie-detail
      *ngIf="selectedrecipie; else infoText"
      [Recipie]="selectedrecipie"
    ></app-recipie-detail>
    <ng-template #infoText>
      <p>Please select a recipie</p>
    </ng-template> -->
    <router-outlet></router-outlet>
  </div>
</div>
<!--  -->
